$tileWidth: 32;
$tileHeight: 32;
$tileNum: 6;
body {
  font: 75%/1.4em 'Lato', sans-serif;
  background: #ccc;
}

.container {
  max-width: 1024px;
}

.col-6 {
  width: 50%;
  float: left;
  position: relative;
}

.sq {
  width: $tileWidth + px;
  height: $tileHeight + px;
  position: absolute;
  background: #9CBA7F;
  cursor: pointer;
  text-align: center;
}

.sq:hover {
  background: #555;
}

.sq.occupied {
  background: #333;
}

#ui {
  float: left;
  padding: 1em 3em 0 2em;
  // padding-top: $tileHeight * $tileNum + 32 + px;
}

#map {
  padding: 1.2em 0 0;
}

form {
  //opacity: 0.5;
}

.start-form {
  opacity: 1;
  &.disabled {
    opacity: 0.5;
  }
}

.enabled {
  opacity: 1;
}

form span {
  display: block;
  clear: both;
  width: 100%;
}

#preview,
#prop-preview {
  // width: 100%;
  height: $tileHeight * $tileNum + px;
  position: absolute;
  top: 5em;
  left: 0;
}

#prop-preview {
  .sq {
    padding-top: 0.6em;
    background: none;
  }
}

// Needs sorting a bit
.foundationDisabled {
  //opacity: 0;
  z-index: 0;
}

.foundationEnabled {
  opacity: 0.5;
  z-index: 999;
}

#output {
  max-height: 200px;
  max-width: 200px;
  border: 1px solid #777;
  padding: 1em;
  background: #fff;
  overflow-y: auto;
}
